<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Calendar</ion-title>
</ion-navbar>

<ion-content>
  <ion-list *ngFor="let post of posts" (click)="openPost(post)">
    <ion-card *ngIf="post.start > today">
      <div [innerHTML]="post.title.rendered" ></div>
    <h1><div [innerHTML]="post.start"></div></h1>
     <div [innerHTML]="today"></div>
     <div [innerHTML]="post.content.rendered"></div>
    </ion-card>
  </ion-list>
</ion-content>
